[Unit]
Description=MAAS container
After=maas-postgres.service
Requires=maas-postgres.service

[Service]
Restart=always

[Container]
ContainerName=maas-server
Image=ghcr.io/pirogoeth/container-images/maas:3.5
EnvironmentFile=/etc/default/maas
Network=host
PodmanArgs=--systemd=always --privileged
Volume=maas-server-data.volume:/var/lib/maas/

[Install]
WantedBy=multi-user.target
